<div>
    <div>
        <h4>Lms And Extractor and Interface Software</h4>
        <span> SumTotal,AllScript etc (Pune : Onsite) </span>
        <span>Dec 2015 to Aug 2016 (Full Time)</span>
        <span>Lms And Extractor And Interface Software</span>
    </div>
    <div>
        <h4>LMS(Leave Management service</h4>
        <span> AllScript Pvt ltd,Parexel pvt ltd,principle pvt ltd,etc (Paysquare consultancy ltd : Offsite)Dec 2015 to May 2017 (Full Time) </span>
        <span>Lms provide leave management service for big organisation it take the attendance from client side continuously and automatically using web api and process attendance shift wise and client can upload holidays and weakly and this software accrue the leave as per company norm yearly,mont.</span>
    </div>
</div>
