<div>
    <div>
        <h4>Profile Summary</h4>
        <p>
            I completed Mca In Vp Collage Sangli,I have 3.2 year Experience In Dot Net Technology using C#,Asp.net,MVC,Entity Framework and JavaScript. I have Good Knowledge of mvc and angularjs
        </p>
    </div>
</div>