@{
    var UserEdgu = ViewBag.f_Education;
}
<div class="row">

    <div class="col-md-9">
         <h4 style="color:blue">Education</h4>
        <h6>@UserEdgu.QualificationName</h6>
        <ul>
            <li>@UserEdgu.CollageName</li>
            @*<li>@UserEdgu.StartDate</li>
            <li>@UserEdgu.EndDate</li>*@
        </ul>
    </div>
</div>
